<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hotstart</key>
	<string>8n3m29</string>
	<key>hotend</key>
	<string>tzndfi</string>
	<key>stage1_04</key>
	<string>2djeib</string>
	<key>stage5_06	</key>
	<string>vau1i4</string>
	<key>stage9_10</key>
	<string>3aflt1</string>
	<key>VIP5</key>
	<string>ikgb9p</string>
	<key>VIP6</key>
	<string>feo5g4</string>
	<key>VIP7</key>
	<string>npehx0</string>
	<key>VIP8</key>
	<string>j047ez</string>
	<key>VIP9</key>
	<string>whedjn</string>
	<key>VIP10</key>
	<string>h1sk0o</string>
	<key>season_card_purchase</key>
	<string>i881hg</string>
	<key>big_month_card_purchase</key>
	<string>ii7jwm</string>
	<key>diamond_fund_purchase</key>
	<string>larr8k</string>
	<key>login_fund_purchase</key>
	<string>h2tj48</string>
	<key>pay_1200</key>
	<string>2bltyg</string>
	<key>pay_2500</key>
	<string>hddxke</string>
	<key>pay_5900</key>
	<string>sa8mh5</string>
	<key>pay_12000</key>
	<string>yq7zmf</string>
	<key>pay_19000</key>
	<string>xi274s</string>
	<key>pay_25000</key>
	<string>5uuzks</string>
	<key>pay_37000</key>
	<string>f7swyl</string>
	<key>pay_65000</key>
	<string>nbviag</string>
	<key>pay_59000</key>
	<string>88xmz8</string>
	<key>pay_119000</key>
	<string>60on59</string>
	<key>ten_even_draw</key>
	<string>2if56b</string>
	<key>activation</key>
	<string>thsr09</string>
	<key>firstpay</key>
	<string>w3tpzg</string>
</dict>
</plist>
